.services {
  padding: 2.25rem;
  background-color: var(--bg-secondary);

  @media (width <= 768px) {
    padding: 0;
  }

  div.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 3.75rem;

    @media (width <= 768px) {
      gap: 3rem;
    }

    div.title {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }

    .cards-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 3.5rem;
      flex-wrap: wrap;

      #row-1 {
        justify-content: space-around !important;
      }

      #row-2 {
        justify-content: center !important;
      }

      .cards-row {
        display: flex;
        align-items: center;
        gap: 3.5rem;
        flex-wrap: wrap;
      }

      .card {
        overflow: hidden;
        border-radius: var(--radius);
        color: #222;
        font-family: var(--ff-utils-text);
        object-fit: cover;

        max-width: 33%;
        min-width: 260px;

        flex: 1;

        @media (width <= 768px) {
          max-width: 50% !important;
        }

        div {
          text-align: left;
          padding: 1.125rem;
          background: linear-gradient(
            90deg,
            rgba(255, 255, 255) 0%,
            rgba(0, 0, 0, 0.5) 200%
          );
        }
      }
    }

    a {
      margin-bottom: calc(3.75rem - 2.25rem);
    }
  }
}
