@import url(./modules/header/header.css);
@import url(./modules/hero-section/hero-section.css);
@import url(./modules/about-us/about-us.css);
@import url(./modules/services/services.css);
@import url(./modules/contact/contact.css);
@import url(./modules/footer/footer.css);

/* --- START VARIABLES --- */

:root {
  --ff-display-text: "Poppins", sans-serif;
  --ff-utils-text: "Roboto", sans-serif;
  --ff-paragraph-text: "Lato", sans-serif;

  --bg-main: #161220;
  --bg-secondary: #150d14;
  --accent-color: #3d5dd4;
  --text-bg-accent: #f7f7f7;

  --text-bg-main: #a5c5e9;

  --radius: 0.625rem;
}

/* --- END VARIABLES --- */

/* --- START RESETS --- */

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: inherit;
  box-sizing: border-box;
}

body,
html {
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

ul {
  list-style: none;
}

/* --- END RESETS --- */

body {
  background: var(--bg-main);
  color: var(--text-bg-main);
  -webkit-font-smoothing: antialiased;
}

/* --- START UTILS --- */
.main-container {
  max-width: 1300px;
  padding-inline: 1.25rem;
  margin: 0 auto;
}

/* H1 */
.display-text {
  font-family: var(--ff-display-text);
  color: #f7f7f7;
  font-weight: 700;
  line-height: 72px;

  font-size: 64px;
  max-width: 15ch;
}

/* H2 */
.title-text {
  font-family: var(--ff-display-text);
  color: #f7f7f7;
  font-weight: 700;
  line-height: 72px;

  font-size: 3.375rem;
}

.subtitle-text {
  font-family: var(--ff-paragraph-text);
  color: #ccc;

  font-size: 1.25rem;
  max-width: 55ch;
}

button.main-full-btn {
  background-color: var(--accent-color);

  color: var(--text-bg-accent);
  font-family: var(--ff-utils-text);
  font-size: 1rem;

  display: flex;
  align-items: center;
  gap: 10px;

  border: none;
  cursor: pointer;

  border-radius: var(--radius);
  padding-block: 0.875rem;
  padding-inline: 1.25rem;

  &:hover,
  &:focus,
  &:focus-visible {
    filter: brightness(90%);
    transition: 0.2s;
  }
}

button.main-outline-btn {
  border: 3px solid var(--accent-color);
  background-color: transparent;

  color: var(--text-bg-accent);
  font-family: var(--ff-utils-text);
  font-size: 1rem;

  display: flex;
  align-items: center;
  gap: 10px;

  cursor: pointer;

  border-radius: var(--radius);
  padding-block: 0.875rem;
  padding-inline: 1.25rem;

  transition: 0.2s;

  &:hover,
  &:focus,
  &:focus-visible {
    background-color: var(--accent-color);
    transition: 0.2s;
  }
}
/* --- END UTILS --- */

/* --- START ANIMATIONS --- */
@keyframes topToBottom {
  from {
    opacity: 0;
    transform: translate3d(0, -10px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

/* --- END ANIMATIONS --- */
