section.hero {
  width: 100%;
  height: calc(100vh - 100px);
  background-image: url(../../assets/hero-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (width <= 600px) {
    height: 80vh;
  }

  div.main-container {
    display: flex;
    height: 100%;
    align-items: center;

    @media (width <= 600px) {
      justify-content: center;
      align-items: flex-start;
      padding-top: 6rem;
    }

    div.hero-container {
      display: flex;
      flex-direction: column;
      gap: 48px;

      div.hero-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
        p {
          font-family: var(--ff-paragraph-text);
          font-size: 18px;
          max-width: 34ch;
        }

        @media (width <= 600px) {
          text-align: center;
          align-items: center;
        }
      }

      div.hero-btns {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        @media (width <= 600px) {
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}
