.contact {
  padding-block: 2.25rem;
  div.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.75rem;

    .title {
      text-align: center;
    }

    .map {
      position: relative;
      overflow: hidden;
      width: 100%;
      padding-top: 40%;

      @media (width <= 768px) {
        padding-top: 60%;
      }

      iframe {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        border-radius: var(--radius);
      }
    }

    .contacts {
      font-family: var(--ff-paragraph-text);
      color: #ccc;
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: space-around;

      @media (width <= 768px) {
        flex-direction: column;
        padding-left: 2rem;
        gap: 1.5rem;
      }

      #fancy-bar {
        width: 4px;
        height: 150px;
        border-radius: 4px;
        background: linear-gradient(180deg, #3d3893 0%, #434e6c 100%);
        transition: 0.3s;

        @media (width <= 768px) {
          width: 150px;
          height: 4px;
        }
      }

      .contact-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @media (width <= 768px) {
          align-items: flex-start;
        }

        h3 {
          font-size: 2rem;
          line-height: normal !important;

          @media (width <= 768px) {
            font-size: 1.875rem;
            text-align: start;
          }
        }

        li {
          padding-block: 8px;
        }

        #address li {
          padding-block: 3px;
        }

        li a:hover {
          color: #fff;
          transition: 0.3s;
        }

        *::before {
          position: absolute;
          display: inline-block;

          background-repeat: no-repeat;
          content: "";
        }

        a#tel {
          position: relative;
          &::before {
            width: 25px;
            height: 1.5625rem;
            background-image: url(../../assets/tel-icon.svg);
            right: 130px;
          }
        }

        a#insta {
          position: relative;
          &::before {
            width: 25px;
            height: 1.5625rem;
            background-image: url(../../assets/insta.svg);
            right: 110px;
          }
        }

        a#facebook {
          position: relative;
          &::before {
            width: 25px;
            height: 1.5625rem;
            background-image: url(../../assets/face.svg);
            right: 146px;
          }
        }

        li#address {
          position: relative;
          &::before {
            width: 25px;
            height: 1.5625rem;
            background-image: url(../../assets/address.svg);
            right: 240px;
          }
        }
      }
    }
  }
}
